# Exclude test files and folders
/tests/
*.test.ts
*.test.js
# Exclude editor and config files
.vscode/
babel.config.js
eslint.config.mjs
jest.config.js
tsconfig.json
# Exclude markdown and log files
*.md
*.log
# Exclude dist if you build before publish, otherwise remove this line
dist/
# Exclude coverage reports
coverage/
# Exclude .npmrc if you publish the package
.npmrc
# Exclude .gitignore if you publish the package
.gitignore
# Exclude .git if you publish the package
.git/
.husky/
# Exclude .DS_Store files if you publish the package
.DS_Store
# Exclude .env files if you publish the package
.env
