# Exclude test files and folders
/tests/
*.test.ts
*.test.js
# Exclude editor and config files
.vscode/
babel.config.js
eslint.config.mjs
jest.config.js
tsconfig.json
.prettierignore
.prettierrc
# Exclude log files but include essential markdown files
*.log
!README.md
!LICENSE
# Exclude source files as we publish compiled code from dist/
/src/
# Exclude coverage reports
coverage/
# Exclude .npmrc if you publish the package
.npmrc
# Exclude .gitignore if you publish the package
.gitignore
# Exclude .git if you publish the package
.git/
.github/
# Exclude .husky if you publish the package
.husky/
# Exclude .DS_Store files if you publish the package
.DS_Store
# Exclude .env files if you publish the package
.env
